<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .addmovie-form {
            display: grid;
            gap: 12px;
        }
    </style>
</head>
<body>
    <!-- Have to use GET or POST as these 2 methods are the only 2 supported by forms -->
    <!-- POST (more secure) -->
    <form class="addmovie-form" action="{{url_for('movieslist.new_movie_list')}}" method="post">
        <!-- input element to accept user input -->
        <!-- name = key for your value -->
        <input name="name" type="text" placeholder="Name"/>
        <input name="poster" type="text" placeholder="Poster"/>
        <input name="rating" type="text" placeholder="Rating"/>
        <input name="summary" type="text" placeholder="Summary"/>
        <input name="trailer" type="text" placeholder="Trailer"/>
        <button type="submit">Add Movie</button>
    </form>
</body>
</html>