<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login-form {
            display: grid;
            gap: 12px;
        }
    </style>
</head>
<body>
    <!-- Have to use GET or POST as these 2 methods are the only 2 supported by forms -->
    <!-- Limitation of HTML -->
    <!-- POST (more secure) vs (method="GET")--> 
    <!-- GET exposes the data in the URL and payloads -->
    <form class="login-form" action="{{url_for('login_page')}}" method="post">
        <!-- input element to accept user input -->
        <!-- name = key for your value -->
        <input name="username" type="text" placeholder="username"/>
        <input name="password" type="text" placeholder="password"/>
        <!-- type="submit" used to submit the forms data and calls the action of the form -->
        <!-- have to have type="submit" to call the action, other buttons won't if they don't have it -->
        <button type="submit">Login</button>
    </form>
</body>
</html>