{% extends 'base.html' %}
{% block content %}
<!-- <body> -->
    <a href="/movieslist/add"><button class="addbut" type="submit">Add Movie</button></a>
    <div class="movie-list-container">
        {% for movie in movies %}
        <div class="movie-container">
            <img class= "movie-poster" src="{{movie['poster']}}" alt="{{movie['name']}}">
            <div class="movie-spec">
                <h2 class="movie-name">{{movie["name"]}}</h2>
                <p>⭐ {{movie["rating"]}}</p>
            </div>
            <p>{{movie["summary"]}}</p>
            <div class="movie-actions">
                <a href="/movieslist/{{movie['id']}}">Read More ...</a>
                <form class="addmovie-form" action="{{url_for('movieslist.update_movie_page')}}" method="post">
                    <input name= "movie" type="text" value="{{movie}}" hidden>
                    <button type="submit">Update</button>
                </form>
                <form class="addmovie-form" action="{{url_for('movieslist.delete_movie_by_id')}}" method="post">
                    <input name= "movie_id" type="text" value="{{movie.id}}" hidden>
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
<!-- </body> -->
{% endblock %}