{% extends 'base.html' %}

{% block title %} Register {% endblock %}

<!-- <body> -->
{% block content %}
<div class="container">
    <h1>Register:</h1>
    <!-- if we want to refer to the current URL but with different action as POST -->
    <form action="" method="POST">
        <!-- Hidden input field with token as value (CSRF) -->
        {{form.hidden_tag()}}
        <!-- display error(s) from "validate_username"-->
        {% if form.username.errors %}

            {% for error in form.username.errors %}
                <div style="color:red">{{error}}</div>
            {% endfor %}

        {% endif %}

        <div class="form-group">
        <!-- add labels so users always know what they must type in -->
            {{form.username.label}}: {{form.username(placeholder="Rashay", class="form-control")}} 
        </div>
        <div class="form-group">
            {{form.password.label}} {{form.password(placeholder="password", class="form-control")}}
        </div>
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock %}
<!-- </body> -->
