<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .upuser-form {
            display: grid;
            gap: 12px;
        }
    </style>
</head>
<body>
    <!-- Have to use GET or POST as these 2 methods are the only 2 supported by forms -->
    <!-- POST (more secure) -->
    <form class="upuser-form" action="{{url_for('user.update_user_list')}}" method="post">
        <!-- input element to accept user input -->
        <!-- name = key for your value -->
        <input hidden name="id" type="text" value="{{user['id']}}"/>
        <input name="name" type="text" value="{{user['username']}}"/>
        <input name="password" type="password" value="{{user['password']}}"/>
        <button type="submit">Update User</button>
    </form>
</body>
</html>