<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .upmovie-form {
            display: grid;
            gap: 12px;
        }
    </style>
</head>
<body>
    <!-- Have to use GET or POST as these 2 methods are the only 2 supported by forms -->
    <!-- POST (more secure) -->
    <form class="upmovie-form" action="{{url_for('movieslist.update_movie_list')}}" method="post" accept="movie">
        <!-- input element to accept user input -->
        <!-- name = key for your value -->
        <input name="name" type="text" placeholder="{{movie.name}}"/>
        <input name="poster" type="text" placeholder="{{movie.poster}}"/>
        <input name="rating" type="text" placeholder="{{movie.rating}}"/>
        <input name="summary" type="text" placeholder="{{movie.summary}}"/>
        <input name="trailer" type="text" placeholder="{{movie.trailer}}"/>
        <button type="submit">Update Movie</button>
    </form>
</body>
</html>